
<!DOCTYPE HTML>
<html>
<head>
   <title></title> 
<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
 
    <nav>
        <img src="./static/logo.jpeg" alt="healthify logo" class="photo">
        <div class = "logo"><h1>Healthify</h1></div>
        <div class = "menu">
        <a href="#">Home</a>
        <a href="https://diabetes-model-api.herokuapp.com/">
            Diabetes 
            </a>
        <a href="https://kidneywebapp-api.herokuapp.com/"> kidney Disease </a>
        <a href="https://liverwebapp-api.herokuapp.com/">liver Disease</a>
        <a href="https://breastcancerapp-api.herokuapp.com/">  Breast cancer </a>
        <a href="https://heartwebapp-api.herokuapp.com/">heart Disease</a>

    
    
      
        </div>
    </nav>
    
    <main  class="main-section">
        <section> 
        <h2>Healthify</h2>
        <h3>Helping to Build a Healthy Community </h3>
        <a href="#" class="btnone">Predict the better future</a>
        </section>
        
    </main>
    <div class="about-header" style="text-align: center; margin-top: 5%;">
        Know about yourself in just a click!!!!
    </div>
    <div class="card-section">
       
        <div class="card">
            <img src="./static/Diabetes.jpeg" alt="" srcset="">
            <div class="card-content">
                <a href="https://diabetes-model-api.herokuapp.com/">
                Diabetes 
                </a>
                </div>

        </div>
        
        <div class="card">
            <img src="./static/kidney.jpeg" alt="" srcset="">
            <div class="card-content">
                <a href="https://kidneywebapp-api.herokuapp.com/"> kidney Disease </a>
               
                </div>
        </div>
        <div class="card">
            <img src="./static/liver.jpeg" alt="">
            <div class="card-content">
                <a href="https://liverwebapp-api.herokuapp.com/">liver Disease</a>
                </div>
        </div>
        <div class="card">
            <img src="./static/cancer.jpeg" alt="" srcset="">
            <div class="card-content">
                <a href="https://breastcancerapp-api.herokuapp.com/">  Breast cancer </a>
              
                </div>
        </div>
        <div class="card">
            <img src="./static/heart.jpeg" alt="" srcset="">
            <div class="card-content">
                <a href="https://heartwebapp-api.herokuapp.com/">heart Disease</a>
           
                </div>
        </div>
    </div>
    
    <div class="flex-content">
        <div class="about-content">
            <div class="about-header">
                About us
            </div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto vitae eaque quo assumenda reprehenderit iusto fuga quisquam illum, odit amet iure natus earum error exercitationem repellat fugit impedit nulla blanditiis!
        </div>
        <div class="about-img">
            
        </div>
    </div>
    <div class="flex-content">
        <div class="dev-img">
        </div>
        <div class="dev">
            <div class="about-header">
                our developers
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, veritatis dolore aliquid deleniti fuga exercitationem enim laborum natus velit iure, totam, quas cum porro itaque maiores quisquam eaque! At, odit!
    
        </div>
    </div>

    
</body>
</html>